body{
    background-image: url('https://fondosmil.com/fondo/35733.jpg');
    height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    
    
}

.form1{
    position: relative;
    left: 300px;
    bottom: 30px;
}

.botones{
    position: relative;
    left: 100px;
}