
.paginate-container {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 500px;
    background-color: #000000ad;
    border-radius: 1px;
    bottom: 10px;
    

  }
 
  .btnPrev, .btnNext {
    color:white;
    text-align: center;
    align-items: center;
    background-color: #00b7ff;
    cursor: pointer;
  }

  .btnActive {
    color:white;
    font-size: 26px;
    background-color: transparent;   
    text-align: center;
    cursor: pointer;
    background-color: #00b7ff;
    
    
  }

  .btnPaginate{
    color:white;
    cursor: pointer;
    background-color: #000000;
    font-size: 15px;
  }