.toolbar{
    background: url('https://tse3.mm.bing.net/th?id=OIP.TSzhp2lQvQRkKUfKjeTQcQHaEo&pid=Api&P=0');
    display: flex;
    justify-content: space-around;
    background-color: #343a40ad;
    width: 600px;
    border-radius: 10px;
    align-items: center;
    padding-left: 100px;
    padding-right: 100px;
    border: 2px solid rgb(0, 0, 0);
}

.filter-by-origin{
  border-radius: 20px;
  background-color: black;
  margin-left: 10px;
  margin-right: 10px;
}

.selectMain{
    outline: none;
    margin-left: 5px;
    border: 2px solid black;
    text-align: center;
}

.orderContainer, .filterContainer{
    display: flex;
    justify-content: center;
    align-items: center;
   
}
.reset {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6px 12px;
    gap: 8px;
    height: 34px;
    width: 112px;
    border: none;
    background-color: #ff362b34;
    border-radius: 20px;
    cursor: pointer;
  }
  
  .lable {
    line-height: 20px;
    font-size: 17px;
    color: #FF342B;
    font-family: sans-serif;
    letter-spacing: 1px;
  }
  
  .reset:hover {
    background: #ff362b52;
  }
  
  .reset:hover .svg-icon {
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
  
    100% {
      transform: rotate(-360deg);
    }
  }