.fondo{
    background: url('https://estaticos-cdn.prensaiberica.es/clip/9f24c208-6cfb-472d-8a40-5d2c52a7b9e5_16-9-discover-aspect-ratio_default_0.jpg');
    height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.boton{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-decoration: none;
    text-align: center;
    font-size: 20px;
    transition: .3s;
    
    
    
}

.boton1{
    font-family: Baskerville;
    padding: 5px;
    font-size: 30px;
    color: rgb(0, 0, 0);
    border-radius: 40px;    
    box-shadow: 0 0 0 0 rgba(143, 64, 248, 0.5), 0 0 0 0 rgba(39, 200, 255, 0.5);
    transition: transform 0.3s ease, box-shadow 0.3s ease;

    overflow: hidden;
}

.boton1::after{
    content: "";
    width: 400px;
    height: 400px;
    position: absolute;
    top: -50px;
    left: -100px;
    background: #13ff13;
    background-image: linear-gradient(-225deg, #231557 0%, #44107A 29%, #FF1361 67%, #FFF800 100%);
    z-index: -1;
    transition: transform 0.5s ease;
}

.boton1:hover{
    transform: translate(0, -6px);
    box-shadow: 10px -10px 25px 0 rgba(16, 226, 253, 0.5), -10px 10px 25px 0 rgba(183, 0, 255, 0.794);
}

.boton1:hover::after{
    transform: rotate(150deg);
}
    
.titulo1{
    font-family: 'Outfit';
  font-size: 40px;
  color: #000000 !important;
  -webkit-text-stroke: 4px rgb(224, 215, 215);
  text-shadow: -2px 2px 16px rgba(0,0,0,1);
}


.creado{
    position: relative;
    background-color: rgb(36, 36, 36);
    height: 100px;
    width: 100%;
    background-attachment: fixed;
    top: 190px;
    border: 3px solid #000000;
    
}

.diseño{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position: absolute;
    top: 550px;
    color: aliceblue;
    border-radius: 10px;   

     
}